# Ignore Gradle project-specific cache directory
.gradle

# Ignore VsCode settings
.vscode

# Ignore Gradle build output directory
build

# Ignore any kind of binary
bin

# Ignore Structurizr build folder
.structurizr
